[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "eat"]
	path = eat
	url = https://github.com/miriamesteve/eat
	shallow = true
	registered = true
[submodule "GSSTDA"]
	path = GSSTDA
	url = https://github.com/miriamesteve/gsstda
	shallow = true
	registered = true
